@page "/urunduzenle/{Id:int}"

@rendermode InteractiveServer

@inject NavigationManager NavigationManager;
@inject IIDyeGoreUrunGoruntuleUseCase IDyeGoreUrunGoruntuleUseCase;
@inject IUrunDuzenleUseCase UrunDuzenleUseCase;

<h3>Ürün Duzenle</h3>

<br />

@if (this.urun is not null)
{
    <EditForm Model="urun" OnValidSubmit="Duzenle">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <label for="name">Urun İsimi</label>
            <InputText id="isim"
                       @bind-Value="urun.UrunIsim"
                       class="form-control">
            </InputText>
            <ValidationMessage For="() => urun.UrunIsim"></ValidationMessage>
        </div>

        <div class="form-group">
            <label for="adet">Urun Adeti</label>
            <InputNumber id="adet"
                         @bind-Value="urun.Adet"
                         class="form-control">
            </InputNumber>
            <ValidationMessage For="() => urun.Adet"></ValidationMessage>
        </div>

        <div class="form-group">
            <label for="fiyat">Urun Fiyatı</label>
            <InputNumber id="fiyat"
                         @bind-Value="urun.Fiyat"
                         class="form-control">
            </InputNumber>
            <ValidationMessage For="() => urun.Fiyat"></ValidationMessage>
        </div>

        <div class="form-group">
            <label for="fiyat">Envanterler</label>
            <UrunEnvanterleriComponent Urun="this.urun"></UrunEnvanterleriComponent>
        </div>

        <br />

        <button type="submit" class="btn btn-primary">Kaydet</button>
        &nbsp;
        <a href="/urunler" class="btn btn-secondary">Geri Dön</a>

    </EditForm>
}



@code {
    private Urun? urun;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        this.urun = await IDyeGoreUrunGoruntuleUseCase.ExecuteAsync(this.Id);
    }

    private async Task Duzenle()
    {
        if (urun is not null)
        {
            await UrunDuzenleUseCase.ExecuteAsync(this.urun);
            NavigationManager.NavigateTo("/urunler");
        }
    }
}
