<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EYS.WebApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="envanterler">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Envanterler
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="urunler">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ürünler
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="satinal">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Satın Al
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="uret">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Üret
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sat">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sat
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="envanterraporlari">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Envanter Raporları
            </NavLink>
        </div>
    </nav>
</div>

