@page "/uret"

@attribute [Authorize]

@rendermode InteractiveServer

@using static EYS.WebApp.Components.Controls.Common.OtomatikTamamlaComponent

@inject IJSRuntime JSRuntime

@inject IIDyeGoreUrunGoruntuleUseCase IDyeGoreUrunGoruntuleUseCase
@inject IIsmeGoreUrunleriGoruntuleUseCase IsmeGoreUrunleriGoruntuleUseCase
@inject IUrunUretUseCase UrunUretUseCase

<h3>Ürün Üret</h3>
<br />

<EditForm id="uretme-formu" Model="UretmeViewModel" OnValidSubmit="Uret">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="sa">Üretim Numarası #</label>
        <InputText id="sa" class="form-control" @bind-Value="UretmeViewModel.uretmeSayisi"></InputText>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <OtomatikTamamlaComponent   Label="Üretilecek Ürün"
                                            AramaFonksiyon="UrunArama"
                                            ItemSecildiginde="ItemSecmeYap">
                </OtomatikTamamlaComponent>

            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label for="adt">Adet</label>
        <InputNumber id="adt" class="form-control" @bind-Value="UretmeViewModel.UretmeAdeti"></InputNumber>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Üret</button>
</EditForm>

@code {

    private UretmeViewModel UretmeViewModel = new UretmeViewModel();
    private Urun? seciliUrun;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("formGondermeyiOnle", "uretme-formu");
        }
    }

    private async Task<List<ItemViewModel>?> UrunArama(string name)
    {
        var liste = await IsmeGoreUrunleriGoruntuleUseCase.ExecuteAsync(name);
        if (liste is null) return null;

        return liste.Select(x => new ItemViewModel { Id = x.UrunId, Name = x.UrunIsim})?.ToList();
    }

    private async Task ItemSecmeYap(ItemViewModel urn)
    {
        this.seciliUrun = await IDyeGoreUrunGoruntuleUseCase.ExecuteAsync(urn.Id);

        UretmeViewModel.UrunId = urn.Id;
        UretmeViewModel.Urun = this.seciliUrun;

    }

    private async Task Uret()
    {
            await UrunUretUseCase.ExecuteAsync(
            this.UretmeViewModel.uretmeSayisi,
            seciliUrun,
            this.UretmeViewModel.UretmeAdeti,
            "Can"
            );
     
            this.UretmeViewModel = new UretmeViewModel();
            this.seciliUrun = null;
    }
}