@page "/"

@inject IIsmeGoreEnvanterleriGoruntuleUseCase IsmeGoreEnvanterleriGoruntuleUseCase
@inject IEnvanterDuzenleUseCase EnvanterDuzenleUseCase

<PageTitle>Test Page</PageTitle>

<br />
<br />

<ul>
    @if (envanterler != null && envanterler.Count > 0)
    {
        foreach(var env in envanterler)
        {
            <li>
                @env.EnvanterIsim
            </li>
        }
    }
</ul>

@code {
    private List<Envanter> envanterler;

    protected override async Task OnInitializedAsync()
    {
        var envanter = new Envanter { EnvanterId = 2, EnvanterIsim = "Asus Laptop", Adet = 50, Fiyat = 12 };

        await EnvanterDuzenleUseCase.ExecuteAsync(envanter);

        envanterler = (await IsmeGoreEnvanterleriGoruntuleUseCase.ExecuteAsync()).ToList();
    }
}