@page "/envanterler"

<h3>Envanter Listesi</h3>

<br />

<EnvanterListesiComponent EnvanterAramaFiltresi=""></EnvanterListesiComponent>

<br />

<a href="/envanterekle" class="btn btn-primary">Envanter Ekle</a>

@code {

}