@inject IIsmeGoreEnvanterleriGoruntuleUseCase IsmeGoreEnvanterleriGoruntuleUseCase

<table class="table">
    <thead>
        <tr>
            <th>İsim</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (envanterler is not null && envanterler.Count > 0)
        {
            foreach (var env in envanterler)
            {
            <EnvanterListesiItemComponent Envanter="env"></EnvanterListesiItemComponent>
            }
        }
    </tbody>
</table>

@code {
    private List<Envanter> envanterler;

    [Parameter]
    public string? EnvanterAramaFiltresi { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        envanterler = (await IsmeGoreEnvanterleriGoruntuleUseCase.ExecuteAsync(EnvanterAramaFiltresi ?? string.Empty)).ToList();
    }
}