@if (this.Envanter is not null)
{
    <tr>
        <td>@Envanter.EnvanterIsim</td>
        <td>@Envanter.Adet</td>
        <td>@Envanter.Fiyat.ToString("c")</td>
        <td>
            <a class="btn btn-light"
                href="/envanterduzenle/@Envanter.EnvanterId">
                Düzenle
            </a>
        </td>
    </tr>
}

@code {
    [Parameter]
    public Envanter? Envanter { get; set; }
}